* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* This selector styles the body background colour light grey*/
body {
    background-color: #d9dcd6;
}
/*This selector styles the header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*This selector styles the H1 title inside of the header*/ 
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*This selector styles the seo class inside of the header*/
.header h1 .seo {
    color: #d9dcd6;
    text-decoration: none;
}
/*This selector styles the nav bar inside of the header*/
.header nav {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*This selector styles the list of the three links in the nav bar*/
.header nav ul {
    list-style-type: none;
}
/*This selector styles the list items for the three links inside of the nav bar*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;

}
/*This selector styles the hero section, which contains the main image for the page*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*This selector styles the appearance of the three links in the nav bar*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*This selector styles the paragraph font size*/
p {
    font-size: 16px;
}
/*This selector styles the main contents section block*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*This selector styles the three individual blocks in the main contents section*/
.maincontents {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*This selector styles the three images in the main contents section*/
.maincontents img {
    max-height: 200px;
}
/*This selector styles the subheadings in the main contents section*/
.maincontents h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*This selector styles the first and third images in the main contents section, displaying them on the left of each block*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*This selector styles the second image in the main contents section, displaying it on the right*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*This selector styles the benefits sidebar*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*This selector styles the three individual child benefits in the benefits sidebar*/
.childbenefits {
    margin-bottom: 32px;
    color: #ffffff;
}
/*This selector styles the h3 tags for the child sidebar*/
.childbenefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*This selector styles the three images in the child benefits sidebar*/
.childbenefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*This selector styles the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*This selector styles the h4 heading in the footer*/
.footer h4 {
    font-size: 20px;
}

